 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins", sans-serif;
}

body {
    background-color: #000;
}

.header_hero {
    background-color: #000;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin: 20px;
}

.nav ul li {
    font-size: 20px;
    color: #55e6a5;
    transition: 0.6s;

}

.nav ul li a:hover {
    color: #fff;
}

.bars {
    display: none;
}

.bars i {
    font-size: 30px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    padding: 100px 8%;
}

.header_info {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    flex-direction: column;
    width: 70%;
}

h1,
p {
    color: #fff;

}

h1 {
    font-size: 50px;
}

.header_info p {
    width: 80%;
}

.btns:hover {
    background-color: #fff !important;
    border: 1px solid #fff;
    font-weight: 500;
}

.btns:hover i {
    background-color: #fff !important;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 420px;
}

.header_img :nth-child(2) {
    width: 120%;
    position: absolute;
}

.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 80px 2%;
}

.services_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;

}

.services_info h3 {
    font-weight: 600;
    color: #55e6a5;
}

.services_info h1 {
    font-weight: 600;
}

.services_info2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.services_design {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border: 1px solid gray;
    height: 300px;
    transition: 0.6s all;
    padding: 10px;
    border-radius: 8px;
}

.services_design:hover {
    background: linear-gradient(#55e6a5, black);
    transform: scale(1.01);
    transform: translateY(.20px);
    cursor: pointer;
}

.services_design p {
    line-height: 30px;

}

.services_design h3 {
    color: #fff;
    font-weight: 400;
}

.services_design p {
    font-weight: 400;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 80px 8%;
}
h1{
    font-weight: 600;
}
.about_info{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.about_info p{
    line-height: 30px;
}
.p{
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 30px;
}
.line{
    width: 200px;
    height: 5px;
    background-color: gray;
}
.about_img_info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    border:1px solid rgba(128, 128green, 128blue, 0.587);
    gap: 20px;
    transiction: 0.5s all;
    border-radius: 8px;
    background-color: rgba(128, 128green, 128blue, 0.187);
    backdrop-filter: blur:{5px};
    transform- translator _80px
}

.about_img_info i{
    color: #fff;
    font-size: 50px;

}
.about_img_info h5{
    color: #fff;
}
.about_img_info:hover{
    transform: translateY.80px
    cursor: pointer;
}
button{
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: .6px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8% 8%;
    gap: 50px;
    background-color: #000;
    

}
.contact_info{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 50px;
    gap: 20px;
}
.projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.contact_info h2{
    color: #55e6a5;
    text-align: center;
}
.contact_info2{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}
.review{
    width: 150px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 20px;
    transition: 0.5s all;
}
.review:hover{
    background-color: rgba(128, 128green, 128blue, 0.131);
    cursor: pointer;
    transform: translateY(1.5px);
}
form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.review i{
font-size: 30px;
color: #55e6a5;
}
form input{
    height: 40px;
    width: 610px;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid #55e6a5;
    color: #fff;
    font-size: 15px;
}
form button{
    height: 50px;
    width: 50%;
    background-color: #55e6a5;
    font-size: 20px;
    border: none;
}
.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    padding: 4% 0%;
}
.skills_info { display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
}
.skills_info h3 {
color: #55e6a5;
 }
 .skills_info h1{
 color: #fff;
 }
 .deployment{
 display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 30vh;
 padding: 0% 6%;
 margin: 30px;
 }
 .courses{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
 }
 .course h2{
    color: #fff;
    font-size: 35px;
 }
 .course h3{
    color: #55e6a5;
    border: 1px solid #55e6a5;
    padding: 10px;
    font-weight: 300;
 }
.contact_info h1{
    font-size: 40px !important;
}
.main_courses{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10%;
    background-color: #000;
}
.course_revil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.courese_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    padding: 10px;
    background-color: #0c0e1c;
    color: #fff;
    border: 1px solid #55e6a5;
    padding: 20px;
}
.courese_wrapper h3{
    font-size: 25px;
    font-weight: 400;
}
h3 a{
    color: #fff;
}
.course1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.portfolio_galary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    gap: 20px;
    padding: 4% 0%;
}
.portfolio_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.portfoli_info h1{
    font-weight: 400;
}
.portfoli_info h3{
    font-weight: 300;
    color: #55e6a5;
}
button:hover{
    background-color: azure;

}
.galary1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer{
    padding: 4% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.footer_info{
    display: flex;
    justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 20px;
}
.footer_info h1{
    font-weight: 300;
}
.check_mail{
    height: 80px;
    width: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #55e6a5;
    background-color: #000;
}
.check_mail input{
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    background-color: transparent;

}
.pic{
    border-top-right-radius: 50%    ;
}